@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hero {
  display: flex;
  align-items: center;
  background-image: url('../assets/img/bg-hero-react-galaxy.webp');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.hero::before {
  content: '';
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-image: linear-gradient(transparent, var(--primary-theme-color));
  pointer-events: none;
}

.hero__container {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 2.5rem;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero__info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary-shadow-color);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
}

.hero__info-title {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0;
}

.hero__info-subtitle {
  font-size: 1.25rem;
  margin: 0;
}

.hero__info-paragraph {
  display: none;
}

.hero__info-link {
  align-self: center;
  background-color: var(--primary-button-color);
  border-radius: var(--primary-border-radius);
  padding: 0.5rem 1rem;
  color: var(--primary-button-text-color);
  font-weight: 800;
  text-decoration: none;
  transition: background-color 0.25s;
}

.hero__info-link:hover {
  background-color: var(--primary-button-color-active);
}

.hero__img-container {
  position: relative;
  display: flex;
}

.hero__img-pro {
  background-color: var(--secondary-shadow-color);
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

.hero__img-tech-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  animation: spin 10s linear infinite;
}

.hero__img-tech {
  position: absolute;
  width: 4rem;
  height: 4rem;
}

.hero__img-tech:nth-child(1) {
  transform: translate(-50%, -50%);
  top: 100%;
  left: 50%;
}

.hero__img-tech:nth-child(2) {
  transform: translate(-50%, -50%) rotate(90deg);
  top: 50%;
  left: 0;
}

.hero__img-tech:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-90deg);
  top: 50%;
  left: 100%;
}

.hero__img-tech:nth-child(4) {
  transform: translate(-50%, -50%) rotate(180deg);
  top: 0;
  left: 50%;
}

@media (min-width: 854px) {
  .hero__container {
    grid-template-columns: 1fr 1fr;
  }

  .hero__info-container {
    gap: 1.5rem;
  }

  .hero__info-title {
    font-size: 1.75rem;
  }

  .hero__info-subtitle {
    font-size: 1.5rem;
  }

  .hero__info-paragraph {
    display: flex;
    font-size: 1.25rem;
    margin: 0;
  }

  .hero__img-pro {
    width: 320px;
    height: 320px;
  }

  .hero__img-tech {
    width: 5rem;
    height: 5rem;
  }
}

.footer {
  background-color: var(--primary-theme-color);
  box-shadow: 0 0 0.5rem 0 var(--tertiary-shadow-color);
}

.footer-nav {
  padding: 2rem 0;
}

.footer-nav-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--max-width-container);
  margin: auto;
  padding: var(--padding-container);
}

.footer-nav__link-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__link-item {
  display: flex;
}

.footer-nav__link {
  display: flex;
  width: 1.5rem;
  transition: var(--primary-all-transitions);
}

.footer-nav__link:hover {
  filter: brightness(150%);
  transform: scale(1.25);
}

.footer-nav__link-image {
  width: 100%;
}

.footer-nav__credits {
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
}

.footer-nav__credits::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--tertiary-shadow-color);
}

.footer-nav__credits-author {
  color: var(--primary-highlight-color);
  text-decoration: none;
}


@media (min-width: 854px) {
  .footer-nav__link-list {
    gap: 1.5rem;
  }

  .footer-nav__link {
    width: 2rem;
  }
}